<button type="button" class="btn btn-primary" ng-click="addDoctor()" style = "margin:5px"><span style="margin-right:5px"><i class="fa fa-plus"></i></span>Add Doctor</button>


<table class="table table-striped" style="margin-top:5px">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Qualification</th>
					<th>Experience</th>
					<th>Specialization</th>
					<th>Clinic</th>
					<th>Recommendations</th>
					<th>Fees</th>
					<th>Mobile Number</th>
					<th>EmailId</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="doctor in doctors">
					<td>{{doctor.doc_id}}</td>
					<td>{{doctor.doc_name}}</td>
					<td>{{doctor.doc_qualification}}</td>
					<td>{{doctor.doc_experience}}</td>
					<td><span ng-repeat = "spec in doctor.spec_List_For_A_Doc">{{spec.spec_name}},</span></td>
					<td><span ng-repeat="clinic in doctor.clinic_List_For_A_Doc">{{clinic.clinic_name}},</span></td>
					<td>{{doctor.doc_recommendations}}</td>
					<td>{{doctor.doc_fees}}</td>
					<td>{{doctor.doc_contactNumber}}</td>
					<td>{{doctor.doc_email}}</td>
					<td><span style="margin-left:5px;cursor:pointer;color:blue" ng-click="editDoctor(doctor)"><i class="fa fa-edit"></i></span><span style="margin-left:5px;cursor:pointer;color:red" ng-click="removeDoctor(doctor,$index)"><i class="fa fa-remove"></i></span></td>
				</tr>
			</table>